@media (min-width: 376px) {
  .dropdown {
    box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5);
    top: 100%;
  }
}

@media (max-width: 375px) {
  .dropdown {
    box-shadow: 0px -2px 2px #00000029;
    bottom: 0;
  }
}
