.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  min-height: 100%;
  flex-direction: column;
}
.communitySelect {
  appearance: none;
  background: url("/하단세모.svg") no-repeat right 24px center;
}
